.outer{
    width:200px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:8px solid rebeccapurple;
    border-radius:50%;
    border-right: 0px solid transparent;
    animation: animation-outer 5s linear infinite;
}
.inner{
    width:150px;
    height:150px;
    border:8px solid rgb(255, 81, 0);
    border-radius:50%;
    border-left: 0px solid transparent;
    animation: animation-inner 5s linear infinite;
}

@keyframes animation-outer {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
    
}
@keyframes animation-inner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}